.content {
  width: 100%;
  .title {
    font-family: $main-font;
    font-weight: bold;
    font-size: 2.25em;
    color: #D1523D;
  }
  .date {
    /* PRESIDENT 2015 - pre: */
    font-family: 'Raleway';
    font-size: 1em;
    color: #6F7577;
    letter-spacing: 0px;
    font-weight: bold;
  }
  .punchline {
    /* Making UMD the hacke: */
    font-family: $main-font;
    font-size: 1.5em;
    color: #656565;
    letter-spacing: 0px;
    font-weight: lighter;
    line-height: 1.3em;
  }
  .description {
    /* The hacker community: */
    font-family: 'Raleway';
    font-size: 16px;
    color: #6F7577;
    letter-spacing: 0px;
    line-height: 1.75em;
  }
}

.scroll {
  overflow: scroll;
  width: 100%;
  height: 500px;
  position: relative;
  box-shadow: 0px 0px 2px 2px #DEDEDE;
  img {
    position: relative;
    width: 100%;
  }
}